[submodule "icp"]
	path = icp
	url = git@github.com:wso2/integration-control-plane.git
[submodule "mi"]
	path = mi
	url = git@github.com:wso2/product-micro-integrator.git
[submodule "bridge"]
	path = bridge
	url = git@github.com:wso2/icp-runtime-bridge.git
